.comparison {
  text-align: center;
}


.comparison__images {
  margin-bottom: 28px;
}

.comparison__image {
  width: 320px;
  height: 240px;
}

.comparison__image--after {
  display: none;
}

.comparison__controls {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.comparison__scale {
  width: 82px;
  height: 12px;
  margin-left: 19px;
  margin-right: 17px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.comparison__bar {
  width: 35px;
  height: 6px;
  margin-top: 3px;
  margin-left: 4px;

  background-color: #68b738;
  border-radius: 5px;
  cursor: pointer;
}

.comparison__label {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-secondary;
}

.comparison__label--before {
  margin-left: 44px;
}


@media (min-width: $tablet-width) {
  .comparison {
    padding-bottom: 68px;
    margin-top: 235px;
    background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
  }

  .comparison__images {
    position: relative;
    width: 708px;
    min-height: 355px;
    margin: 0 auto 12px;
  }

  .comparison__image {
    position: absolute;
    top: -169px;
    display: block;
    width: 690px;
    height: auto;
  }

  .comparison__image--before {
    z-index: 2;
    left: 16px;
    clip: rect(0, 338px, auto, auto);
  }

  .comparison__image--after {
    z-index: 1;
    right: 2px;
    clip: rect(0, auto, auto, 338px);
  }

  .comparison__controls {
    width: 570px;
  }

  .comparison__label {
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted #bebebe;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .comparison__label--before {
    margin-left: 0;
  }

  .comparison__scale {
    width: 428px;
    height: 6px;
    margin-top: -6px;
    margin-left: 25px;
    margin-right: 22px;

    background-color: #dcdcdc;
    border: none;
  }

  .comparison__bar {
    position: relative;

    margin-left: 46.3%;
    margin-top: -13px;
    width: 8px;
    height: 8px;
    padding: 12px;

    color: #68b738;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;

      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      margin-top: -14px;
      margin-left: 46.2%;
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    margin-top: 137px;

    background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 58.6%, #eaeaea 58.6%, #eaeaea 100%);
  }

  .comparison__images {
    width: 689px;
    margin-bottom: 10px;
  }

  .comparison__image {
    margin-top: -23px;
  }

  .comparison__image--before {
    left: 39px;
    clip: rect(0, 365px, auto, auto);
  }

  .comparison__image--after {
    right: -40px;
    clip: rect(0, auto, auto, 364px);
  }

  .comparison__controls {
    margin-right: 0;
  }
}
