.comparison {
  text-align: center;
}

.comparison__label {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.comparison__images {
  margin-bottom: 28px;
}

.comparison__image {
  width: 320px;
  height: 240px;
}

.comparison__image--after {
  display: none;
}

.comparison__toggle {
  // width: 85px;
  // height: 16px;
}

@media (min-width: $tablet-width) {
  .comparison {
    padding-bottom: 69px;
    margin-top: 235px;
    background-color: $bg-secondary;
  }

  .comparison__images {
    margin-bottom: 17px;
  }

  .comparison__image--before {
    margin-top: -170px;
    margin-left: 14px;
    width: 690px;
    height: 517px;
  }

  .comparison__label {
    border-bottom: 1px dotted #bebebe;
    font-size: 20px;
  }

  .comparison__toggle {
    width: 430px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    margin-top: 250px;
  }

  .comparison__image--before {
    margin-top: -250px;
    width: 690px;
    height: 499px;
  }
}
