.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 25px;
}

.contacts__title {
  width: 200px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-secondary;
}

.contacts__address {
  width: 200px;
  padding: 0;
  margin: 0;

  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 625px;
    padding: 39px;
    padding-bottom: 59px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 165px;

    font-size: 16px;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    z-index: 3;
    // left: 3%;
    left: 40px;
    top: 95px;

    width: 415px;
    padding-top: 65px;
    padding-left: 76px;
    padding-right: 80px;

    background-color: $bg-primary;
  }

  .contacts__address {
    text-align: left;
  }
}
