.details__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $font-secondary;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.details__list {
  list-style: none;
}

.details__item {
  margin-bottom: 30px;
}
