.example {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 36px;

  color: $color-primary;

  background-color: $bg-secondary;
}

.example__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-secondary;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $color-secondary;
}

.example__description {
  margin: 0;
  margin-bottom: 24px;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
}

.example__stats {
  flex-shrink: 0;
  margin-right: 32px;
  margin-bottom: 20px;
}

.example__stats:last-of-type {
  margin-right: 0;
}

.example__subtitle {
  margin-bottom: 21px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-secondary;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 42px;
    padding-bottom: 0;
    margin-bottom: 25px;
    border-top: 1px solid #e6e6e6;

    background-color: $bg-primary;
  }

  .example__title {
    margin-bottom: 65px;

    font-size: 60px;
  }

  .example__description {
    width: 680px;
    margin-bottom: 45px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__stats-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 708px;
  }

  .example__stats {
    margin-top: 8px;
    margin-right: 42px;
  }

  .example__subtitle {
    width: 192px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__expanses {
    display: block;
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-bottom: 0;

    background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 60%, #eaeaea 60%, #eaeaea 100%);
    border: none;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1220px;
    margin-top: -179px;
    margin-left: auto;
    margin-right: auto;

    .container {
      width: 438px;
      margin: 0;
    }
  }

  .example__description {
    width: auto;
    margin-bottom: 61px;
  }

  .example__stats-wrapper {
    width: 450px;
    flex-wrap: wrap;
  }

  .example__stats {
    margin-bottom: 40px;
  }

  .example__subtitle {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-left: 0;
    text-align: left;
  }

  .example__expanses {
    margin: 0;
  }
}
