.extra-goods {
  margin-bottom: 35px;
}

.extra-goods__title {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-secondary;
}

.extra-goods__list {
  padding: 0;
  margin-bottom: 39px;

  list-style: none;
}

.extra-goods__item {
  padding: 15px 0;
  border-top: 1px solid #cdcdcd;
}

.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra-goods__name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.extra-goods__features {
  width: 100%;
  margin-bottom: 10px;

  line-height: 14px;
}

.extra-goods__quantity {
  font-weight: 400;
}

.extra-goods__price {
  text-align: right;
}

.extra-goods__promo {
  padding-top: 185px;
  padding-bottom: 33px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $bg-primary;

  background-color: #6fb346;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 65px, 0 0;
  background-size: 56px 61px, cover;
}

.extra-goods__promo-text {
  width: 165px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .extra-goods {
    margin-bottom: 75px;
  }

  .extra-goods__title {
    width: 708px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra-goods__item {
    padding: 38px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  .extra-goods__item {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-goods__name {
    width: 345px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra-goods__features {
    width: auto;
    margin-left: auto;

    text-align: right;
  }

  .extra-goods__quantity,
  .extra-goods__price {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-goods__quantity {
    width: 160px;
  }

  .extra-goods__price {
    width: 60px;
  }

  .extra-goods__promo {
    box-sizing: border-box;
    min-height: 200px;
    padding-top: 75px;
    padding-right: 85px;
    padding-left: 403px;

    text-align: left;

    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 91px center, 0 0;
    background-size: 56px 61px, cover;
  }
}

@media (min-width: $desktop-width) {
  .extra-goods__title {
    width: 1220px;
  }

  .extra-goods .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .extra-goods__list {
    width: 895px;
    margin-bottom: 0;
  }

  .extra-goods__item {
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .extra-goods__name {
    width: 245px;
    margin-right: 80px;
  }

  .extra-goods__features {
    width: 285px;
    margin: 0;
  }

  .extra-goods__button {
    margin-left: auto;
  }

  .extra-goods__promo {
    width: 245px;
    padding: 0;
    margin: 0;

    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 70px, 0 0;
    background-size: 56px 61px, cover;
  }

  .extra-goods__promo-text {
    padding-top: 190px;
    text-align: center;
  }

}
