.goods__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods__item {
  padding-bottom: 20px;
  border-top: 1px solid #ededed;
}

.goods__item-wrapper {
  width: 280px;
  margin: 0 auto;
}

.goods__item--more {
  padding-bottom: 20px;
  padding-top: 80px;
  border-bottom: 1px solid #ededed;
  text-align: center;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center 26px;
}

.goods__more-title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.goods__more-description {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .goods__wrapper {
    display: block;
    width: 708px;
    margin: 0 auto;
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods__item {
    width: 324px;
    border: none;
    margin-right: 60px;
    margin-bottom: 50px;
  }

  .goods__item:nth-child(2n) {
    margin-right: 0;
  }

  .goods__item--more {
    width: 322px;
    border: 1px solid #ededed;
  }

  .goods__item-wrapper {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .goods__wrapper {
    width: 1220px;
  }

  .goods__item {
    width: 245px;
    border: none;
    margin-right: 80px;
    margin-bottom: 50px;
  }

  .goods__item:nth-child(2n) {
    margin-right: 80px;
  }

  .goods__item:nth-child(4n) {
    margin-right: 0;
  }

  .goods__item--more {
    width: 243px;
    border: 1px solid #ededed;
  }

  .goods__item-wrapper {
    width: 169px;
  }
}
