.goods__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  list-style: none;
}

.goods__item {
  padding-bottom: 24px;
  border-top: 1px solid #ededed;
}

.goods__item--more {
  padding-bottom: 24px;
  padding-top: 26px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}

.goods__item-wrapper {
  width: 280px;
  margin: 0 auto;
}

.goods__plus {
  opacity: 0.2;
}


.goods__more-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 8px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.goods__more-description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .goods__list {
    margin-bottom: 34px;
  }

  .goods__wrapper {
    display: block;
    width: 708px;
    margin: 0 auto;
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods__item {
    width: 324px;
    border: none;
    margin-right: 60px;
    margin-bottom: 50px;
  }

  .goods__item:nth-child(2n) {
    margin-right: 0;
  }

  .goods__item--more {
    width: 322px;
    padding-top: 54px;
    padding-bottom: 39px;
    margin-top: 108px;
    margin-bottom: 31px;
    border: 1px solid #e6e6e6;
  }

  .goods__item-wrapper {
    width: 249px;
  }

  .goods__plus {
    width: 60px;
    height: 60px;
    margin-bottom: 26px;
  }

  .goods__more-title {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    font-size: 20px;
  }

  .goods__more-description {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 86px;

    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {

  .goods__wrapper {
    width: 1220px;
  }

  .goods__list {
    margin-bottom: 40px;
  }

  .goods__item {
    width: 245px;
    border: none;
    margin-right: 80px;
    margin-bottom: 50px;
  }

  .goods__item:nth-child(2n) {
    margin-right: 80px;
  }

  .goods__item:nth-child(4n) {
    margin-right: 0;
  }

  .goods__item--more {
    width: 243px;
    margin-bottom: 34px;
    border: 1px solid #e6e6e6;
  }

  .goods__item-wrapper {
    width: 169px;
  }
}
