.main-footer__contacts {
  padding-top: 20px;
  margin-bottom: 35px;
}

.main-footer__social {
  margin-bottom: 30px;

  background-color: #f2f2f2;
}

.main-footer__copyright {
  background-color: #f2f2f2;
}
