.main-footer__contacts {
  padding-top: 20px;
  margin-bottom: 35px;
}

.main-footer__contacts--inner {
  background-color: $bg-secondary;
}

.main-footer__social {
  margin-bottom: 30px;

  background-color: $bg-secondary;
}

.main-footer__copyright {
  background-color: $bg-secondary;
}
