.main-header {
  padding-top: 12px;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo {
  display: block;
  width: 280px;
  padding-bottom: 11px;
  margin: 0 auto;
}

.main-header__logo[href] {

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo img {
  width: 190px;
  height: 38px;
}

.main-header__nav {
  position: relative;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;

  text-transform: uppercase;
}

.main-header__toggle {
  position: absolute;
  top: -42px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 24px;
  height: 18px;

  background: none;

  cursor: pointer;
  border: none;
}

.main-header__nav--closed .main-header__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.main-header__nav--opened .main-header__toggle {

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__list {
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.main-header__item {
  border-top: 1px solid #e6e6e6;
}

.main-header__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.main-header__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;

  color: #111111;

}

.main-header__link[href] {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__nav--closed .main-header__list {
    display: none;
  }

  .main-header__nav--nojs .main-header__toggle {
    display: none;
  }

  .main-header__nav--nojs .main-header__list {
    display: block;
  }
}


@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 24px;
    border: none;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .main-header__logo {
    width: 174px;
    height: 59px;
    padding: 0;
    margin: 0;
  }

  .main-header__logo img {
    width: 174px;
    height: 59px;
  }

  .main-header__nav {
    width: 516px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__list {
    display: flex;
    justify-content: flex-end;
  }

  .main-header__item {
    margin-left: 36px;
    border: none;

    &:last-child {
      border: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 13px;
        left: 0;

        height: 2px;

        background-color: #68b738;
      }
    }
  }

  .main-header__link {
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 50px;
  }

  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .main-header__logo img {
    width: 203px;
    height: 60px;
  }

  .main-header__nav {
    width: 895px;

    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }


  .main-header__item {
    margin-left: 34px;
    border: none;

    &--active {

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 12px;
        left: 0;

        height: 2px;

        background-color: #ffffff;
      }
    }
  }

  .main-header__item--inner.main-header__item--active::after {
    background-color: #68b738;
  }

  .main-header__link {
    padding-top: 23px;

    color: #ffffff;
  }


  .main-header__item--inner .main-header__link {
    color: $color-secondary;
  }

  .main-header__link[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

}
