.main-nav {
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;

  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;

  text-align: center;
}

.main-nav__link[href] {
  color: #111111;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:visited {
    color: #111111;
  }
}


