.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.product__column {
  width: 140px;
}

.product__name {
  width: 75px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 12px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.product__features {
  width: 100%;
  border-collapse: collapse;
}

.product__feature-name,
.product__feature-value {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.product__feature-value {
  text-align: right;
}

.product__button {
  margin-top: -4px;
}

@media (min-width: $tablet-width) {
  .product {
    padding-bottom: 40px;
    margin-top: 108px;
    margin-bottom: 32px;
    background-color: $bg-secondary;
  }

  .product__wrapper {
    width: 325px;
    flex-direction: column;
    align-items: center;
  }

  .product__column {
    width: 249px;
  }

  .product__column--image {
    position: relative;

    width: 325px;
    margin-bottom: 164px;
  }

  .product__image {
    position: absolute;
    bottom: -166px;

    width: 324px;
    margin-bottom: 40px;
  }

  .product__image--buckwheat-small {
    bottom: -168px;
  }

  .product__name {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 18px;

    font-size: 20px;
    line-height: 20px;

    text-align: center;
  }

  .product__features {
    margin-bottom: 37px;
  }

  .product__features tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__feature-name,
  .product__feature-value {
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-bottom: 34px;
  }

  .product__wrapper {
    width: 245px;
  }

  .product__column {
    width: 169px;
  }

  .product__column--image {
    width: 245px;
    margin-bottom: 164px;
  }

  .product__image {
    position: absolute;
    bottom: -167px;

    width: 245px;
    margin-bottom: 40px;
  }
}
