.promo {
  padding-top: 25px;
  margin-bottom: 20px;

  font-family: $font-secondary;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  // подумать как задействовать фоновый цвет
  // background-color: #63a73a;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 167px, top center;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin-bottom: 303px;

  line-height: 14px;
  text-transform: uppercase;
}

.promo__select {
  margin: 0 auto;
}
