.promo {
  padding-top: 26px;
  margin-bottom: 22px;

  font-family: $font-secondary;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #63a73a 0, #63a73a 305px, #ffffff 305px, #ffffff 480px);
  background-repeat: no-repeat;
  background-position: center 166px, center top, 0 0;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin-bottom: 303px;

  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 800px;
    padding-top: 50px;
    margin-bottom: 11px;

    text-align: left;
    color: $color-secondary;

    background-color: #ffffff;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 252px;

    .container {
      width: 427px;
    }
  }

  .promo__title {
    margin-left: -53px;
    margin-bottom: 43px;

    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    margin-left: -53px;
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 0;
    margin-bottom: 80px;
    margin-top: -120px;

    text-align: left;
    color: $color-secondary;
    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 0%, #ffffff 50%, #64a83b 50%, #64a83b 100%);
    background-repeat: no-repeat;
    background-position: right -69px top, 0 0;

    .container {
      box-sizing: border-box;
      width: 1220px;
      min-height: 865px;
      padding-top: 390px;
      padding-left: 80px;
      margin-top: -219px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: right 218px top 311px;
    }
  }

  .promo__title {
    width: 420px;
    margin-left: 0;
  }


  .promo__slogan {
    width: 420px;
    margin-left: 0;
    margin-bottom: 52px;
  }
}
