@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
